
<div class="container-fluid">
<form class="form-horizontal">
    <h5 class="form-signin-heading text-center">¿Olvidaste tu contraseña?</h5>
    <p class="lead col-md-offset-2">Introduce tu correo y sigue las instrucciones que te enviaremos al mismo.</p>
    <br>
    <div class="form-group">
     <div class="col-md-offset-2 col-md-6">
       <input type="email" class="form-control" id="inputEmail" ng-model="email" placeholder="Correo electrónico">
     </div>
    <div class="col-md-2">
        <button class="btn  btn-primary btn-block" type="submit" ng-click="forgotPassword(email)">Enviar correo</button>
    </div>
    <a class="btn btn-default" href="/#/login">Volver</a>
    </div>
    <div ng-show="mailNotFound">
        <div class="alert alert-warning alert-dismissible col-md-offset-2 col-md-8" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
            <div class="text-center">No se ha encontrado ningún usuario con ese correo</div>
        </div>
    </div>
    <div ng-show="mailDiffer">
        <div class="alert alert-warning alert-dismissible col-md-offset-2 col-md-8" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
           <div class="text-center">El correo introducido no es válido</div>
        </div>
    </div>
    <div ng-show="mailSent">
        <div class="alert alert-success alert-dismissible col-md-offset-2 col-md-8" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
            <div class="text-center">Se ha enviado un correo para resetear la contraseña</div>
        </div>
    </div>
</form>
</div>
