<div class="container-fluid">
<form class="form-horizontal">
    <h5 class="form-signin-heading text-center">Resetear contraseña</h5>
    <br>
    <br>
    <div class="form-group" ng-show="!resetSuccess">
        <label for="inputPassword" class="col-md-offset-2 col-md-2 control-label">Nueva contraseña</label>
        <div class="col-md-4">
            <input type="password" ng-model="password" class="form-control" id="inputPassword">
        </div>
    </div>
    <div class="form-group" ng-show="!resetSuccess">
        <label for="inputPassword" class="col-md-offset-2 col-md-2 control-label">Repetir contraseña</label>
        <div class="col-md-4">
            <input type="password" ng-model="confirmPassword" class="form-control" id="inputPassword">
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-4 col-md-4">
            <button ng-show="!resetSuccess" class="btn  btn-primary btn-block" type="submit" ng-click="resetPassword(password,confirmPassword)"> Actualizar contraseña </button>
            <a ng-show="resetSuccess" class="btn  btn-warning btn-block" type="submit" href="/#/login"> Iniciar sesión </a>
        </div>
    </div>
    <div ng-show="passwordsDiffer">
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
           <div class="text-center">Las contraseñas no coinciden, por favor, inténtelo de nuevo</div>
        </div>
    </div>
    <div ng-show="resetError">
        <div class="alert alert-warning alert-dismissible col-md-offset-2 col-md-8" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
            <div class="text-center">Error reseteando la contraseña, probablemente el link de cambio de contraseña haya expirado.</div>
        </div>
    </div>
</form>
</div>
