<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <table class="table table-hover">
        <thead>
        <tr>
            <th><a href="" ng-show="currentDir" ng-class="getIcon('up')" ng-click="goUp()"></a></th>
            <th><a href="" ng-click="switchOrder('name'); saveOrder();">{{currentDir || "Home"}}</a></th>
            <th></th>
            <th></th>
            <th><a href="" ng-click="switchOrder('size'); saveOrder();">Tamaño <span class="caret"></span></a></th>
            <th><a href="" ng-click="switchOrder('owner'); saveOrder();">Propietario</a><span class="caret"></span></th>
            <th><a href="" ng-click="switchOrder('mtime'); saveOrder();">Modificado en..</a> <span class="caret"></span></th>
        </tr>
        </thead>

        <tr context-menu data-target="menu-{{$index}}"  ng-repeat="resource in resources | filter:query | filter:byCurrentDir| orderBy:predicate:reverse">
            <td>
                <div class="dropdown position-fixed" id="menu-{{ $index }}">
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a class="pointer" role="menuitem" tabindex="1" ng-href="{{getResource(resource)}}" download>
                                <span class="small-icon" ng-class="getIcon('download')"></span> Descargar
                            </a>
                        </li>
                        <li ng-show="isOwner(resource)">
                            <a class="pointer" role="menuitem" tabindex="2"
                               ng-click="openShare(resource)">
                                <span class="small-icon" ng-class="getIcon('share')"></span>  Compartir
                            </a>
                        </li>

                        <li ng-show="isOwner(resource) && resource.resource_kind === 'file'">
                            <a class="pointer" role="menuitem" tabindex="2" ng-click="openP2P(resource)">
                                <span class="small-icon" ng-class="getIcon('magnet')"></span> Torrent/Magnet
                            </a>
                        </li>

                        <li ng-show="isOwner(resource) && resource.resource_kind === 'file'">
                            <a class="pointer" role="menuitem" tabindex="2"
                               ng-click="encryptDecrypt(resource)">
                                <span class="small-icon" ng-class="getIcon('encrypt')"></span>(Des) Encriptar
                            </a>
                        </li>

                        <li>
                            <a class="pointer" ng-click="openDetails(resource)"
                               role="menuitem"
                               tabindex="-1">
                                <span class="small-icon" ng-class="getIcon('details')"></span> Detalles
                            </a>
                        </li>
                        <li>
                            <a class="pointer" ng-class="canEdit(resource)" ng-click="openRename(resource)"
                               role="menuitem"
                               tabindex="-1">
                                <span class="small-icon" ng-class="getIcon('rename')"></span> Renombrar
                            </a>
                        </li>
                        <li>
                            <a class="pointer" ng-click="openMove(resource)"
                               role="menuitem"
                               tabindex="-1">
                                <span class="small-icon" ng-class="getIcon('move')"></span> Mover
                            </a>
                        </li>
                        <li ng-show="canEdit(resource)">
                            <a class="pointer" role="menuitem" tabindex="2" ng-click="deleteResource(resource)">
                                <span class="small-icon" ng-class="getIcon('delete')"></span> Borrar
                            </a>
                        </li>
                    </ul>
                </div>
                <a ng-href="{{getResource(resource, true)}}" ng-click="changeCurrentDir(resource); saveCurrentDir(resource)">
                    <span ng-class="getIcon(resource)"></span></a>
            </td>
            <td>
                <a ng-href="{{getResource(resource, true)}}" ng-click="changeCurrentDir(resource); saveCurrentDir(resource)">{{resource.name | relative_path | nodat}}
                </a>
            </td>
            <!--Cambiar por abrir permisos -->
            <td><a href="" ng-show="isShared(resource)" title="Compartido"  ng-click="openPermissions(resource)"><span class="smaller-icon" ng-class="getIcon('shared')"></span></a></td>
            <td><a href="" ng-show="containsDat(resource)" title="Encriptado"><span class="smaller-icon"  ng-class="getIcon('encrypt')"></span></td>
            <td>{{resource.size  | get_unit }}</td>
            <td>{{resource.owner}}</td>
            <td>{{resource.mtime | date }}</td>
        </tr>
    </table>
</body>
</html>
